boby{
    background-color: turquoise;
}
#bio{
    margin-top: 30px;
    width: 600px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: turquoise;
    padding-bottom: 60px;
}
.introText{
    font-size: 30px;
    color: pink;
    display: block;
    text-align: center;
    margin-top: 15px;
    font-family: calibri, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #F48375;
}
.buttons{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-top: 50px;
}